
@{
    
    ViewBag.Title = "San pham";
    Layout = "~/Views/Shared/_Layout_Categories.cshtml";
     var listProducts = (List<Model.EF.Product>)ViewBag.AllProducts;
}


<div class="product-grid">
    <!-- Product 1 -->
    @foreach (var item in listProducts)
    {
        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
     <div class="product-item men">
          <div class="product discount product_filter">
              <div class="product_image">
                  <img src="@item.Image" alt="@item.Name">
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
              <div class="product_info">
                  <h6 class="product_name"><a href="@url">@item.Name</a></h6>
                  <div class="product_price">$520.00<span>@item.Price</span></div>
              </div>
          </div>
          <div class="red_button add_to_cart_button"><a href="/them-gio-hang?productId=@item.ID&quantity=1">add to cart</a></div>
     </div>
     }
    
</div>
