@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout_Detail.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
}

<!-- Hamburger Menu -->


<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/san-pham/@category.MetaTitle-@category.ID"><i class="fa fa-angle-right" aria-hidden="true"></i>@category.Name</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Name</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                <li><img src="@Model.Image2" alt="" data-image="@Model.Image2"></li>
                                <li class="active"><img src="@Model.Image" alt="" data-image="@Model.Image"></li>
                                <li><img src="@Model.Image3" alt="" data-image="@Model.Image3"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(@Model.Image)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                <div class="original_price">$629.99</div>
                <div class="product_price">@Model.Price ₫</div>
                <ul class="star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
                <div class="product_color">
                    <span>Select Color:</span>
                    <ul>
                        <li style="background: #e54e5d"></li>
                        <li style="background: #252525"></li>
                        <li style="background: #60b3f3"></li>
                    </ul>
                </div>
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">

                    
                    <div id="btnaddtocart" class="red_button add_to_cart_button"><a href="/them-gio-hang?productId=@Model.ID&quantity=1">add to cart</a></div>

                    <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tabs -->

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col"> 
                <div class="tabs_container">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div class="row">
                        <div class="col-lg-5 desc_col">
                            @*<div class="tab_title">
                                    <h4>Description</h4>
                                </div>*@
                            <div class="tab_text_block">
                                <h2>@Model.Name</h2>
                                <p>@Model.Detail</p>
                            </div>
                            <div class="tab_image">
                                <img src="@Model.Image" alt="">
                            </div>
                            <div class="tab_text_block">
                                <h2>@Model.Name</h2>
                                <p>@Model.Description1</p>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-2 desc_col">
                            <div class="tab_image">
                                <img src="@Model.Image2" alt="">
                            </div>
                            <div class="tab_text_block">
                                <h2>@Model.Name</h2>
                                <p>@Model.Description2</p>
                            </div>
                            <div class="tab_image desc_last">
                                <img src="@Model.Image3" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

