@model Model.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listTopProductByPrice = (List<Model.ViewModel.ProductViewModel>)ViewBag.listTopProductByPrice;
    var listTopProductByQuantity = (List<Model.ViewModel.ProductViewModel>)ViewBag.listTopProductByQuantity;
   
    string FilterType = @ViewBag.FilterType;
    var hide = (FilterType == "Năm") ? "style = display:none" : "";
}
@section header {
    Trang chủ
}
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="/Admin/Product/Index">Sản phẩm</a> </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@(ViewBag.PriceTotalYear)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><a href="/Admin/User/Index">Tài khoản</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.PriceTotalMonth</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><a href="/Admin/Order/Index">Đơn hàng</a></div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.OrderQuantity</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="/Admin/Feedback/Index">Phản hồi </a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.FeedbackQuantity</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width:500px; margin:0 auto;">

    <img src="~/Assets/client/Images/giiiii.gif" />

</div>