@model List<Shop8.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Detail.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phẩm</td>
            <td>Ảnh</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ID</td>
                <td>@item.Product.Name</td>
                <td><img src="@item.Product.Image" width="100" /></td>
                <td><input type="text" class="quantity" value="@item.Quantity" /></td>
                <td>@item.Product.Price</td>
                <td>@(item.Product.Price * item.Quantity)</td>
            </tr>
        }

    </tbody>
</table>

